In [29]:
import pandas as pd
import os

In [30]:
if not os.path.exists("laghi_Scozia.txt") :
    s = """Loch Volume Area Length Max-depth Mean-depth
Loch Ness 7.45 56 39 230 132
Loch Lomond 2.6 71 36 190 37
Loch Morar 2.3 27 18.8 310 87
Loch Tay 1.6 26.4 23 150 60.6
Loch Awe 1.2 39 41 94 32
Loch Maree 1.09 28.6 20 114 38
Loch Ericht 1.08 18.6 23 156 57.6
Loch Lochy 1.07 16 16 162 70
Loch Rannoch 0.97 19 15.7 134 51
Loch Shiel 0.79 19.5 28 128 40
Loch Katrine 0.77 12.4 12.9 151 43.4
Loch Arkaig 0.75 16 19.3 109 46.5
Loch Shin 0.35 22.5 27.8 49 15.5"""

    with open("laghi_Scozia.txt","w") as fh :
        fh.write(s)

df = pd.read_csv("laghi_Scozia.txt", sep=" ")
df = df.reset_index(drop=True)
display(df)

       Loch  Volume  Area  Length  Max-depth  Mean-depth
0      Ness    7.45  56.0    39.0        230       132.0
1    Lomond    2.60  71.0    36.0        190        37.0
2     Morar    2.30  27.0    18.8        310        87.0
3       Tay    1.60  26.4    23.0        150        60.6
4       Awe    1.20  39.0    41.0         94        32.0
5     Maree    1.09  28.6    20.0        114        38.0
6    Ericht    1.08  18.6    23.0        156        57.6
7     Lochy    1.07  16.0    16.0        162        70.0
8   Rannoch    0.97  19.0    15.7        134        51.0
9     Shiel    0.79  19.5    28.0        128        40.0
10  Katrine    0.77  12.4    12.9        151        43.4
11   Arkaig    0.75  16.0    19.3        109        46.5
12     Shin    0.35  22.5    27.8         49        15.5

In [31]:
for i in range(1,df.shape[1]) :
    df1 = df[[df.columns[0],df.columns[i]]]
    #display(df1)
    df1.to_csv(df.columns[i]+".csv", index=None)

In [35]:
df.Area.sum()

372.0

In [45]:
url = "https://drive.google.com/file/d/1cUQ8d0kDOw2lmzMAHIPglpdcnHy4GgF3/view"
url = "https://drive.google.com/u/0/uc?id=1cUQ8d0kDOw2lmzMAHIPglpdcnHy4GgF3&export=download"
df2 = pd.read_csv(url, skiprows=1)
display(df2)

    Entity      Code  Year   OilPrice
0    World  OWID_WRL  1861   0.490000
1    World  OWID_WRL  1862   1.050000
2    World  OWID_WRL  1863   3.150000
3    World  OWID_WRL  1864   8.060000
4    World  OWID_WRL  1865   6.590000
..     ...       ...   ...        ...
154  World  OWID_WRL  2015  52.386759
155  World  OWID_WRL  2016  43.734170
156  World  OWID_WRL  2017  54.192440
157  World  OWID_WRL  2018  71.310060
158  World  OWID_WRL  2019  64.210573

[159 rows x 4 columns]

In [49]:
url = "https://drive.google.com/u/0/uc?id=10kgRQGKEC81QoVW9kj8goNzzyLcT0xld&export=download"
df = pd.read_csv(url)
#display(df)
df.groupby("Entity",group_keys=False).nunique().Year

Entity
Afghanistan       117
Africa            104
Albania           117
Algeria            65
American Samoa     37
                 ...
Western Sahara     37
World              39
Yugoslavia         92
Zambia             95
Zimbabwe          120
Name: Year, Length: 200, dtype: int64

In [53]:
#one liner
pd.read_csv(url).groupby("Entity").nunique().Year

Entity
Afghanistan       117
Africa            104
Albania           117
Algeria            65
American Samoa     37
                 ...
Western Sahara     37
World              39
Yugoslavia         92
Zambia             95
Zimbabwe          120
Name: Year, Length: 200, dtype: int64